@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 40vh;
    position: relative;
}
header .banner {
    height: 100%;
    width: 100%;
    background-image: url("banner.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}

.about{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about p{
    padding: 30px;
    width: 50vw;
    text-align: justify;
}
.intro{
    font-size: 15px;
    margin: 30px;
    display: flex;

    font-family: 'Noto Sans Math', sans-serif;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.intro .logo img{
    margin-top : 5px;
    margin-left: 45%;
    width: 100px;
}

.body h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}
.body .videos{
    font-family: 'Roboto', sans-serif;
    background-color: #241a1a;
    color: #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body .video{
    margin: 30px;
    text-align: center;
    width: 40%;
    transition: 0.5s ease;
}
.body .video img{
    width: 100%;
    margin-top: 20px;
}
.body .video:hover{
    transform: scale(1.1);
}
.contact a{
    text-decoration: none;
}
.contact i{
    font-size: 30px;
}
.contact i:hover{
    transform: scale(1.1);
}

.contact .youtube{
    padding: 5px;
    color: red;
}
.contact .twitter{
    padding: 5px;
    color: blue;
}

footer{
    text-align: center;
    height: 40px;
    background-color: rgb(54, 13, 13);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.last{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans Math', sans-serif;
}
.last .contact{
    text-align: center;
    
}
@media (max-width: 700px)
{
    header{
        height: 15vh;
    }
    
    .body .videos{
        display: flex;
        flex-direction: column;
    }
    .body .video{
        margin: 10%;
        text-align: center;
        width: 75%;
        transition: 0.5s ease;
    }
    .body .video.active{
        transform: scale(1.1);
        color: #F8F8F8;
    }
    .intro .logo img{
        margin-left: 35%;
    }
    .last .about p{
        width: 80vw;
    }
    .last{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
