@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header h1{
    margin-top: 20px;
}

.intro{
    font-size: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: relative;
}
.intro .logo img{
    margin-top : 5px;
    margin-left: 45%;
    width: 100px;
}

.body h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}
.body .videos{
    font-family: 'Roboto', sans-serif;
    background-color: #241a1a;
    color: #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body .video{
    margin: 30px;
    text-align: center;
    width: 40%;
    transition: 0.5s ease;
}
.body .video img{
    width: 100%;
    margin-top: 20px;
}
.body .video:hover{
    transform: scale(1.1);
}

footer{
    text-align: center;
    height: 40px;
    background-color: rgb(54, 13, 13);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

@media (max-width: 700px)
{
    .body .videos{
        display: flex;
        flex-direction: column;
    }
    .body .video{
        margin: 10%;
        text-align: center;
        width: 75%;
        transition: 0.5s ease;
    }
    .body .video.active{
        transform: scale(1.1);
        color: #F8F8F8;
    }
    .intro .logo img{
        margin-left: 35%;
    }
}