* {
    margin: 0;
    
}
body{
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.image{
    background-image: url("image.png");
    background-size: cover;
    position: relative;
    
    width: 500px;
    /* height: 600px; */
    height:  100vh;
    transition: background-position 0.2s ease-in;
}
.upper{
    position: absolute;
    width: 100%;
    height: 52%;
}

.lower{
    position: absolute;
    width: 100%;
    top: 52%;
    height: 48%;
    
}
.player2{
    position: absolute;
    bottom: 15%;
    transform: scale(0.5);
    left: 0px;
    opacity : 0;
}
.player{
    position: absolute;
    top:  20%;
    transform : scale(0.5);
    left: 0px;
}

.obstacle1{
    position: absolute;
    left: 87%;
    top: calc(75% - 270px);
    transform: scale(0.5);
    transition: opacity 0.5s ease-in;
}
.obstacle2{
    position: absolute;
    left: 87%;
    top: calc(52% - 270px);
    transform: scale(0.5);   
}
.first{
    transition: opacity 0.5s ease-in;
}
.second{
    transition: opacity 0.5s ease-in;
}



.start button{
    position: absolute;
    padding: 10px;
    color: black;
    background-color: orange;
    border:none;
    
}

.game-over{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: red;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    height: 70px;
    width: 200px;
    padding: 20px;
    align-content: center;
    top: 80%;
    left: 42%;
    opacity:  0;
    
}

.score{
    position: absolute;
    left: 60%;
    top: 5%;
    color: black;
}
.new-game{
    border-radius: 10px;
    border:none;
    margin-left: 50px;
    width: 100px;
    padding: 10px;
    background-color: yellow;
}

@media only screen and (max-width: 768px) {
    /* CSS rules to apply when the screen width is less than or equal to 768px */
    .image {
        width: 100vw;
    }
    .player{
        transform: scale(0.4);
        top: 23%;
    }
    .player2{
        transform: scale(0.4);
        bottom: 20%;
    }
    .obstacle1{
        position: absolute;
        left: 87%;
        top: calc(75% - 270px);
        transform: scale(0.5);
        transition: opacity 0.5s ease-in;
    }
    .obstacle2{
        position: absolute;
        left: 87%;
        top: calc(52% - 270px);
        transform: scale(0.5);   
    }
    .game-over{
        position: absolute;
        left: 20%;
    }
}
